/* Enter your custom styles here 
background-image: linear-gradient(to bottom,#2da9b1 0,#178299 50%,#1a4c7d 100%)*/
/*.sapUiUfdShellHeadUsrItm>span:active{
	background-color: #8EAE98 !important;
	color: #ffffff !important;
}*/
.sapUiUfdShellHeadUsrItm:hover:active > *,
.sapUiUfdShellHeadUsrItm:active > * {
	background-color: #8EAE98 !important;
	color: #ffffff !important;
}
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep>span:active {
	background-color: #8EAE98 !important;
	color: #ffffff !important;
}	
.customBackground{
	background: #649173; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #649173 , #DBD5A4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #649173 , #DBD5A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.customBackground2{
	background-image: linear-gradient(90deg, rgb(4, 106, 157) 25%, rgb(0, 84, 127) 100%);
	background-image: -moz-linear-gradient(left, rgb(4, 106, 157) 25%, rgb(0, 84, 127) 100%);
	background-image: -webkit-linear-gradient(left, rgb(4, 106, 157) 25%, rgb(0, 84, 127) 100%);
	background-image: -o-linear-gradient(left, rgb(4, 106, 157) 25%, rgb(0, 84, 127) 100%);
	background-image: -ms-linear-gradient(left, rgb(4, 106, 157) 25%, rgb(0, 84, 127) 100%);
}
.customBackground3{
	background: #1A2980; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #1A2980 , #26D0CE); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #1A2980 , #26D0CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sapMLIB.sapMNLB{
	padding: 0.2rem 0;
}
.sapMPopover{
    background-color: #F2F2F2;
    border: 1px #bfbfbf solid;
    box-shadow: 0 0 0 0;
    border-radius: 0px;
    padding: 0.2rem 0;
}
.sapMPopoverWithoutBar>.sapMPopoverArrUp:after {
    border-bottom-color: #F2F2F2;
}
.sideBar{
	background: #444444;
	color: white;
}
#__xmlview0--oSplitApp-Master{
  width: 200px !important;	
}
.centerFlex{
	align-items: center;
}
.imageRadius{
	border-radius: 50%;
	border: 2px solid #2D5D3C;
}
.sapThemeBrand-asBackgroundColor{
	background-color: red;	
}

.sapMStdTileMonitorType{
	padding-bottom: 1px;
}
.sapMTile{
    /*border: 1px solid #cc1919;*/
    border-radius: 5%;
    width: 12rem;
    height: 12rem;
    border: 1px solid #2D5D3C;
}
.sapMTile.sapMTileActive{
	
}
.sapMStdTileMonitorType {
	background-color: #BDCFC2;
}
.sapMSelectListItemBaseHoverable:hover{
	background: #8EAE98;
}
.sapMSelectListItemBaseSelected {
    background:  #444444;
}
.sapMSelectListItemBaseHoverable:active{
	background: #76b852;
}
.sapMTile.sapMTileActive{
	background: #2D5D3C;
}
.sapMStdTileTopRow {
    height: 3rem;
}
.sapMStdTileInfo {
    margin-top: 0rem;
}
.sapMStdTileBottomRow {
	height: 5rem;
}

#busyIndicator {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 45%;
	width: 100%;
}




/*=======*/
.sapThemeFont{
	font-family: verdana;
	font-size: 10px;
}


/* Shell 
.sapUiUfdShellHeadItm>span{color:#AAA;}
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel>span{color:#000 !important;}
 */

/*Linea top*/
.sapUiUfdShellBrand{
	background-color:#ffffff !important;
} 
/*Barra Shell #45C8DC*/
.sapUiUfdShellHeader{
	background-color: #ffffff;	
	border-bottom: 2px solid #2D5D3C !important
}
/*Datos de usuario top Iconos y font
.sapUiUfdShellIco,.sapUiUfdShellHeadUsrItm>span{color:#000;} */
.sapUiUfdShellHeadItm>span,.sapUiUfdShellHeadUsrItm{
	color:#2D5D3C !important; 
}

.sapUiUfdShellHeadBegin,.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
    border-left:0 solid #45C8DC !important;
}

.sapUiUfdShellHeadUsrItm:before, .sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before {
    border-right: 0 solid #ffffff !important;
}

.sapUiUfdShellHeadItmSep{
<<<<<<< HEAD
	border-right: 0 !important;
}

.sapUiUfdShellBrand{
	    background-color: white;
}


.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
	border-left: 0px solid #ffffff !important;
}

.sapSuiteRMCPathNeutral {
    stroke: #2D5D3C !important;
=======
	border-right: 0px;
=======
.sapThemeFont{
	font-family: verdana;
	font-size: 10px;
}

/* Shell 
.sapUiUfdShellHeadItm>span{color:#AAA;}
.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSel>span{color:#000 !important;}
 */

/*Linea top*/
.sapUiUfdShellBrand{
	background-color:#ffffff !important;
} 
/*Barra Shell #45C8DC*/
.sapUiUfdShellHeader{
	background-color: #ffffff;	
	border-bottom: 2px solid #2D5D3C !important
}
/*Datos de usuario top Iconos y font
.sapUiUfdShellIco,.sapUiUfdShellHeadUsrItm>span{color:#000;} */
.sapUiUfdShellHeadItm>span,.sapUiUfdShellHeadUsrItm{
	color:#2D5D3C !important; 
}

.sapUiUfdShellHeadBegin,.sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
    border-left:0 solid #45C8DC !important;
}

.sapUiUfdShellHeadUsrItm:before, .sapUiUfdShellHeadEnd .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:before {
    border-right: 0 solid #ffffff !important;
}

.sapUiUfdShellHeadItmSep{
	border-right: 0 !important;
}

.sapUiUfdShellBrand{
	    background-color: white;
}


.sapUiUfdShellHeadBegin .sapUiUfdShellHeadItm.sapUiUfdShellHeadItmSep:after {
	border-left: 0px solid #ffffff !important;
}

.sapSuiteRMCPathNeutral {
    stroke: #2D5D3C !important;
>>>>>>> 97b4767 RC1
>>>>>>> branch 'master' of https://github.com/jliberal/OpenUI5_Launchpad.git
}
/*
.sapUiUfdShellSearch {
    display: inline-block;
    position: relative;
    width: 95%;
    max-width: 415px;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
    line-height: 39.6px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #3c4449;
}
.sapUiUfdShellHeadContainer {
    background-color: #3c4449;
}

.sapUiUfdShellHeadCenter {
    background-color: #3c4449;
}
.sapUiUfdShellHeader {
    background-color: #3c4449;
}*/